<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <script src="javascripts/jquery.min.js"></script>
    <script src="javascripts/jquery.dataTables.min.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <script src="javascripts/dataTables.bootstrap4.min.js"></script>
    <script src="javascripts/main.js"></script>

    <link rel="stylesheet" href="stylesheets/bootstrap.css">
    <link rel="stylesheet" href="stylesheets/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="stylesheets/jquery.dataTables.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
  </body>
</html>
